body {
  /* Начало обнуления */
  margin: 0;
  padding: 0;
  /* Конец обнуления */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #87a092;
}

.site-navigation {
  list-style: none;
}

.submenu {
  list-style: none;
}

.main-menu-item a {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-menu-item-current {
  background-color: #d07058;
  text-align: center;
  text-decoration: none;
}

.main-menu-item a:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  text-align: center;
  text-decoration: none;
}

.main-menu-item a:hover, .main-menu-item a:focus {
  color: #333333;
  background-color: #ededed;
  text-align: center;
  text-decoration: none;
}

.submenu {
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 143px;
  height: 171px;
  display: none;
}

.main-menu-item:hover>.submenu {
  display: block;
}

.submenu a {
  color: #323232;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}

.submenu a:hover, .submenu a:focus {
  background-color: #fbded7;
}

.submenu a:active {
  background-color: #f6b5a5;
}

.submenu-item-current {
  background-color: #d07058;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.login-password-info a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  color: #323232;
}

.user-navigation a:focus, .user-navigation a:hover {
  background-color: #ffffff;
  color: #323232;
}

.login-password-info a:focus, .login-password-info a:hover, .login-password-info a:active {
  color: #ffbc9e;
}

.modal-search fieldset {
  border: none;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 341px;
  height: 84px;
}

.modal-login fieldset {
  border: none;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 277px;
  height: 214px;
}

.login-password-info li {
  text-align: right;
}

.modal-login .button {
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  width: 100px;
  height: 44px;
}

.modal-login .button:hover, .modal-login .button:focus {
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.modal-login .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.modal-cart fieldset {
  border: none;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 539px;
  height: 242px;
}

.user-navigation input::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.schedule p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.schedule .phone {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}

.slides-switches {
  list-style: none;
}

.slider h1 {
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.slide-radio .button {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  transform: matrix( 1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  vertical-align: middle;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 280px;
  height: 65px;
  border: none;
  border-radius: 20px;
}

.slide-radio .button:hover, .slide-radio .button:focus {
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.slide-radio .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.banners ul {
  list-style: none;
}

.banners .banner-name {
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  font-weight: 700;
}

.banners .banner-info {
  font-size: 18px;
  font-weight: 700;
}

.banner-item:nth-child(1) {
  background-image: url(../img/banner-background-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  width: 560px;
  height: 229px;
  border-radius: 15px;
}

.banner-item:nth-child(2) {
  background-image: url(../img/banner-background-2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  width: 560px;
  height: 229px;
  border-radius: 15px;
}

.banners .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  background-image: linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  width: 165px;
  height: 46px;
  border: none;
  border-radius: 20px;
}

.banners .button:hover, .banners .button:hover:focus {
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.banners .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.hits h3 {
  font: inherit;
  text-decoration: underline;
  vertical-align: bottom;
}

.hits-list-item .button {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #fefefe;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  width: 200px;
  height: 44px;
  display: none;
}

.hits-list-item:hover .button, .hits-list-item:focus .button {
  display: block;
}

.hits-list b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  vertical-align: bottom;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-list .weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  vertical-align: bottom;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-list img {
  border-radius: 150px 150px;
}

.seo {
  background-image: url(../img/waffly.jpg);
  background-repeat: no-repeat;
  width: 734px;
  height: 433px;
  border-radius: 10px;
}

.seo h2 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-align: left;
  vertical-align: top;
}

.seo-features-item p {
  color: #323232;
}

.blog {
  color: #323232;
  background-image: url(../img/blog.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
  border-radius: 10px;
}

.blog a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.appointment-info {
  color: #5a5a5a;
  font-weight: 400;
}

input[type="email"]+label {
  color: #999999;
  font-weight: 400;
  line-height: 24px;
}

input[type="email"]::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: left;
  vertical-align: middle;
}

.appointment .button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
}

.map {
  color: #323232;
}

.map .adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.map .adress-details {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map .phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.map .phone-details {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.map .time {
  font-size: 14px;
  font-weight: 400;
}

.map button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 252px;
  height: 44px;
}

.map button:focus, .map button:hover {
  /* Надо делать */
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  font: inherit;
  color: #ffffff;
  text-decoration: none;
}

.footer-links {
  text-align: center;
}

.footer-links ul {
  list-style: none;
}

.footer-links a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-links a:hover, .footer-links a:focus, .footer-links a:active {
  color: #ffbc9e;
}

.footer-copyright {
  text-align: right;
}

.modal-feedback {
  border: none;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  width: 478px;
  height: 443px;
}

.modal-feedback h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}