body {
  /* Начало обнуления */
  margin: 0;
  padding: 0;
  /* Конец обнуления */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  min-width: 1200px;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

img {
  width: 100%;
  height: auto;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #87a092;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.container {
  width: 1137px;
  padding: 0 27px;
  margin: 0 auto;
}

.slider {
  position: relative;
  padding-top: 286px;
  text-align: center;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover, .slider-controls label:focus {}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-1.png);
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-2.png);
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-3.png);
}

#product-1:checked~.site-wrapper #slide1, #product-2:checked~.site-wrapper #slide2, #product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"], #product-2:checked~.site-wrapper label[for="product-2"], #product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
}

.main-header-logo {
  padding: 9px 0;
  margin-right: 24px;
  width: 154px;
  height: 64px;
}

.shedule {
  width: 267px;
}

.shedule-info {
  margin: 0;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.main-navigation-wrapper .container {
  display: flex;
}

.site-navigation, .user-navigation, .submenu, .slides-switches, .banner-list, .hits-list, .seo-features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between width: 383px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 267px;
}

.main-menu-item a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-menu-item>a {
  display: block;
  padding: 7px 13px;
  border: none;
  border-radius: 20px;
}

.main-menu-item-current {
  text-align: center;
  text-decoration: none;
}

.main-menu-item a:active {
  color: #333333;
  text-decoration: none;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.main-menu-item a:hover, .main-menu-item a:focus {
  color: #333333;
  text-decoration: none;
  background-color: #ededed;
}

.submenu {
  position: absolute;
  top: 57.5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
}

.main-menu-item:hover>.submenu {
  display: block;
}

.submenu-item {
  padding: 10px 20px;
}

.submenu a {
  display: block;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.submenu svg {
  position: absolute;
  left: 10px;
}

.submenu-item:hover, .submenu-item:focus {
  background-color: #fbded7;
}

.submenu-item:active {
  background-color: #f6b5a5;
}

.submenu a:hover, .submenu a:focus {
  background-color: #fbded7;
}

.submenu a:active {
  background-color: #f6b5a5;
}

.submenu-item-current {
  background-color: #d07058;
}

.user-navigation a {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 10px 16px;
  vertical-align: middle;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
}

.user-navigation a:focus, .user-navigation a:hover {
  background-color: #ffffff;
  color: #323232;
}

.modal-search fieldset {
  width: 341px;
  height: 84px;
  position: absolute;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 6px;
  display: none;
}

.search-link:hover .modal-search {
  display: block;
}

.cart-link .button {
  position: relative;
  padding-left: 44px;
}

.cart-link .button::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 21px;
  height: 20px;
  background-image: url(../img/logo1.svg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-login fieldset {
  position: absolute;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 6px;
  display: none;
}

.login-item {
  margin: 0;
}

.login-link:hover .modal-login {
  display: block;
}

.login-password-info li {
  text-align: right;
}

.login-password-info a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.login-password-info a:focus, .login-password-info a:hover, .login-password-info a:active {
  color: #ffbc9e;
}

.modal-login .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  background-image: linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
  border-radius: 20px;
}

.modal-login .button:hover, .modal-login .button:focus {
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.modal-login .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.user-navigation input::placeholder, .user-navigation label {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  /* Нужно задать рамку placeholder'у + прописать focus/hover/acive */
}

.schedule p {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.schedule .phone {
  font-size: 22px;
  line-height: 24px;
}

.slides-switches {
  display: flex;
  flex-direction: column;
}

.slide-radio {
  align-self: center;
}

.slider h1 {
  width: 793px;
  font-weight: 800;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60.35px;
}

.slide-radio .button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 50px;
}

.slide-radio .button:hover, .slide-radio .button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}

.slide-radio .button:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.banner-list {
  display: flex;
  justify-content: space-between;
}

.banners .banner-name {
  margin-top: 0px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banners .banner-info {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.banner-item {
  width: 560px;
  min-height: 229px;
  background-size: 560px 229px;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.banner-item:nth-child(1) {
  background-image: url(../img/banner-background-1.jpg);
}

.banner-item:nth-child(2) {
  background-image: url(../img/banner-background-2.jpg);
}

.banners .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-image: linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
  border-radius: 20px;
}

.banners .button:hover, .banners .button:hover:focus {
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.banners .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.hits p {
  margin: 0;
}

.hits-list {
  display: flex;
  justify-content: space-between;
}

.hits-list-item {
  width: 267px;
}

.hits h3 {
  font: inherit;
  text-decoration: underline;
  text-align: center;
}

.hits-list-item .button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  text-decoration: none;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  border: none;
  border-radius: 20px;
}

/* НЕ РАБОТАЕТ */

.hits-list-item .button:hover, .hits-list-item .button:focus {
  /* Допилить градиент, он не меняется */
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

/* НЕ РАБОТАЕТ */

.hits-list-item .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.hits-list b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-list .weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-list img {
  width: 267px;
  height: 267px;
  border-radius: 150px 150px;
}

.seo {
  margin-bottom: 40px;
  max-width: 1146px;
  background-image: url(../img/waffly.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 306px;
  border-radius: 15px;
}

.seo p {
  margin: 0;
}

.seo h2 {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #323232;
}

.seo-features-item p {
  font-weight: 400;
  color: #323232;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-info, .appointment-info, .dispatch-item, .adress, .phone, .time, .footer-copyright {
  margin: 0;
}

.blog {
  color: #323232;
  background-image: url(../img/blog.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

/* ЗДЕСЬ НАДО КАРТИНКУ СДЕЛАТЬ */

.appointment {
  background-image: url(../img/email-bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
}

.appointment-info {
  color: #5a5a5a;
  font-weight: 400;
}

.appointment input[type="email"]+label {
  font: inherit;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.appointment input[type="email"]::placeholder {
  font: inherit;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: left;
  vertical-align: middle;
}

.appointment .button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.appointment .button:hover, .appointment .button:focus {
  /* Градиент залить */
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.appointment .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* MAP сделан */

.map {
  color: #323232;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
}

.map fieldset {
  background-color: #fefdfd;
  border: none;
  border-radius: 15px;
}

.map .adress {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map .adress-details {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map .phone {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map .phone-details {
  font-size: 18px;
  font-weight: 700;
}

.map .time {
  font-size: 14px;
  font-weight: 400;
}

.map button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 15px;
}

.map button:focus, .map button:hover {
  /* Допилить градиент, он не меняется */
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.map button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* footer сделан */

.main-footer .container {
  margin: 0 auto;
  padding: 0 27px;
  justify-content: space-between;
  display: flex;
}

.footer-social {
  width: 267px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  font: inherit;
  color: #ffffff;
  text-decoration: none;
}

.footer-links {
  width: 560px;
}

.footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-links a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.footer-links a:hover, .footer-links a:focus, .footer-links a:active {
  color: #ffbc9e;
}

.footer-link img {
  width: 15px;
  height: 13px;
}

.footer-copyright {
  margin: 0;
  width: 267px;
}

.footer-logo img {
  width: 108px;
  height: 39px;
}

/* СДЕЛАНО НИЖЕ */

.modal-feedback {
  padding: 25px;
  width: 417px;
  background-color: rgb(248, 247, 244);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  border-radius: 15px;
}

.modal-feedback h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #323232;
}

.feedback-form input, .feedback-form textarea {
  font: inherit;
  line-height: 24px;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 5px;
}

.name-item, .email-item {
  margin: 0;
  width: 267px;
  min-height: 44px;
}

.comment-item {
  margin: 0;
  width: 428px;
  min-height: 155px;
}

.feedback-form .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.feedback-form .button:hover, .feedback-form .button:focus {
  /* Задать градиент */
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.feedback-form .button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}